@import "~bootstrap/scss/bootstrap";

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.header {
    .logo {
        height: 4rem;
    }

    nav {
        padding: 2rem 0;

        li {
            .link {
                margin: 0 0.5rem;
                padding: 0.4rem 0.6rem;
                border-radius: 15px;
                color: inherit;
            }

            .link.active {
                color: white;
                background-color: #0d7eef;
            }
        }
    }
}
#hero {
    height: 300px;
    overflow: hidden;
    object-fit: cover;
    object-position: center;
    img {
        width: 100%;
    }
}
#sectionMerch {
    padding: 2rem 0;
    margin-top: 2rem;
    background-color: #0d7eef;
    color: white;

    a {
        color: white;
        text-decoration: none;
        img {
            height: 55px;
        }

        span {
            padding-left: 1rem;
        }
    }
}
