@import "~bootstrap/scss/bootstrap";

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.header {
    .logo {
        height: 4rem;
    }

    nav {
        padding: 2rem 0;

        li {
            .link {
                margin: 0 0.5rem;
                padding: 0.4rem 0.6rem;
                border-radius: 15px;
                color: inherit;
            }

            .link.active {
                color: white;
                background-color: #0d7eef;
            }
        }
    }
}
#hero {
    height: 300px;
    overflow: hidden;
    object-fit: cover;
    object-position: center;
    img {
        width: 100%;
    }
}

#sectionComics {
    padding-top: 2rem;
    min-height: 300px;
    background-color: #1c1c1c;
    position: relative;

    button#currents {
        position: relative;
        top: -50px;
        left: -20px;
    }

    button#more {
        padding-left: 1.8rem;
        padding-right: 1.8rem;
    }

    .card {
        --bs-card-bg: none;
        border: none;

        .wrapper-image {
            height: 250px;

            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
                object-position: top;
            }
        }

        p {
            padding-top: 1rem;
            color: white;
        }
    }
}

#comicDesc {
    .wrapper-comic {
        max-width: 900px;
        width: 100%;
        margin-bottom: 2rem;
        padding: 10px 30px;
        border-radius: 20px;
        background-color: #a5a5a5;
    }

    img {
        margin: 2rem 0;
        height: 500px;
    }
}

#sectionMerch {
    padding: 2rem 0;
    margin-top: 2rem;
    background-color: #0d7eef;
    color: white;

    a {
        color: white;
        text-decoration: none;
        img {
            height: 55px;
        }

        span {
            padding-left: 1rem;
        }
    }
}

.footer {
    color: white;

    .wrapper {
        margin-right: 80px;
    }

    .wrapper-image {
        height: 250px;

        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }

    li {
        color: #a5a5a5;
        a {
            color: #a5a5a5;
        }
    }

    &__upper {
        background-image: url("/resources/images/footer-bg.jpg");
        padding: 30px;
    }

    &__bottom {
        background-color: #303030;
        padding: 30px;

        button {
            color: white;
        }

        li {
            padding: 0 5px;
        }
    }
}
